body {
    background-color: #c0e2a0;
    padding-top: 0px;
    padding-right: 80px;
    padding-bottom: 50px;
    padding-left: 80px;
    margin-top: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
  background-color: #dbd0c6;
  color: black;
  padding: 50px;

}

.container h1 {
  font-size: 3em;
  text-align: center;
}



.column {
  width:50%;
  float:left;
}

.column img {
  width:100%;
  height:auto;
}

/*Agent pages CSS*/
.agent, .agent, .agent, .agent {
  position: relative;
  width: 25%;
}

.agent-pic {
  display: block;
  width: 100%;
  height: auto;*/
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  text-align: center;
}

.agent:hover .overlay { 
  width: 100%;
}

.agent:hover .overlay {
  width: 100%;
}

.agent:hover .overlay {
  width: 100%;
}

.agent:hover .overlay {
  width: 100%;
}

.agent-bio {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
}

/*CSS for product page*/

.product-column {
  width: 25%;
 float: left;
 text-align: center;
}

.container, p {
  background-color: #dbd0c6;
  color: black;
  padding: 50px;
  text-align: center;
}

/*CSS for about*/

.about, p {
  
display:block;
word-wrap: square;
}