

body {
    background-color: lightblue;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.column {
  background-color: black;

}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  text-align: center;
}

.agent1:hover .overlay {
  width: 100%;
}

.agent2:hover .overlay {
  width: 100%;
}

.agent3:hover .overlay {
  width: 100%;
}

.agent4:hover .overlay {
  width: 100%;
}

.agent-bio {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;
}
